{% set json %}
{
    total: {{ totalTricks|length }},
    results: [{% for trick in tricks %}
        {
            slug: "{{ trick.slug }}",
            title: "{{ trick.title }}"
        }{% if not loop.last %},{% endif %}
    {% endfor %}]
}
{% endset %}
{{ json|json_encode|raw }}



{# <div class="col-sm-12 col-md-4 col-lg-3 mb-3">
    <div class="card"><img class="card-img-top" src="{{ asset('images/default.jpg') }}" alt="Card image cap">
        <div class="card-footer d-flex justify-content-between">
            <a href="{{ path('app_trick_show', {slug: trick.slug})}}" class="btn stretched-link"><h5 class="h5">{{ trick.title }}</h5></a>
            <div>
                {% if is_granted("edit", trick) %}
                <a class="btn btn-warning text-light me-1" href="{{ path('app_trick_edit', {slug: trick.slug}) }}"><i class="fa-solid fa-pen"></i></a>
                <a class="btn btn-danger text-light delete" data-href="{{ path('app_trick_delete', {slug: trick.slug}) }}"><i class="fa-regular fa-trash-can"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div> #}